[submodule "Practicum/MovieQuiz"]
	path = Practicum/MovieQuiz
	url = https://github.com/AndreiChenchik/practicum-MovieQuiz-ios.git
[submodule "Practicum/Sprint3/Counter"]
	path = Practicum/Sprint3/Counter
	url = https://github.com/AndreiChenchik/practicum-ios-Counter.git
[submodule "Practicum/practicum-ios-TrackerApp"]
	path = Practicum/TrackerApp
	url = https://github.com/AndreiChenchik/practicum-ios-TrackerApp.git
